.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height:50vh;
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secondary);
    border-radius: 20px;
    overflow: hidden;
    z-index: 1000;
    box-shadow: 10px 10px 0px 1px var(--color-btn), 2px 2px 0px 1px var(--color-white);
}

.close {
    display: none;
}


