* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text_on_load {
    position: fixed;
    z-index: 100;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    animation: text_animation_on_load 5s 1 forwards;
}

h1 {
    color: white;
    font-size: clamp(3rem, 10vw, 5rem); 
}

.text_on_load h1 {
    text-align: center;
    cursor: default;
    position: relative;
    z-index: 10;
}

@keyframes text_animation_on_load {
    0% {
        transform: translateX(-2000px);
    }
    25% {
        transform: translateX(-50%);
    }
    50% {
        transform: translateX(-50%) translateY(-100px);
    }
    75% {
        transform: translateX(-50%) translateY(0px);
    }
    100% {
        transform: translateX(2000px);
    }    
}

section > h1 {
    text-align: center;
    margin-bottom: 20px;
    cursor: default;
    animation-delay: 5s;
    animation: fade_in 10s 1 forwards;
}

.on_load_emojis {
    z-index: -1;
}

.on_load_emojis > .inspect{
    position: absolute;
    top: 30%;
    right: 20%;
    animation: inspect_animation_on_load 5s 1 forwards;
}
.on_load_emojis .hahaa{
    position: absolute;
    bottom: 30%;
    left: 20%;
    animation: hahaa_animation_on_load 5s 1 forwards;
}
.on_load_emojis .ghost{
    position: absolute;
    bottom: 30%;
    right: 20%;
    animation: ghost_animation_on_load 5s 1 forwards;
}

@keyframes inspect_animation_on_load {
    0% {
        transform: translateX(-500px) translateY(0px);
        z-index: -1;
    }
    25% {
        transform: translateX(100px) translateY(-100px);
    }
    50% {
        transform: translateX(-400px) translateY(0);
    }
    75% {
        transform: translateX(-200px) translateY(-300px);
    }
    100% {
        transform: translateX(500px) translateY(-100px);
    }    
}
@keyframes hahaa_animation_on_load {
    0% {
        transform: translateX(-480px) translateY(0px);
        z-index: -1;
    }
    25% {
        transform: translateX(300px) translateY(-100px);
    }
    50% {
        transform: translateX(-400px) translateY(0);
    }
    75% {
        transform: translateX(-400px) translateY(-300px);
    }
    100% {
        transform: translateX(200px) translateY(100px);
    }    
}
@keyframes ghost_animation_on_load {
    0% {
        transform: translateX(-460px) translateY(0px);
        z-index: -1;
    }
    25% {
        transform: translateX(300px) translateY(-100px);
    }
    50% {
        transform: translateX(100px) translateY(0);
    }
    75% {
        transform: translateX(-400px) translateY(300px);
    }
    100% {
        transform: translateX(0px) translateY(100px);
    }    
}

.emoji_load,
.emoji {
    position: absolute;
    font-size: 2.5rem;
    cursor: pointer;
}

.emoji {
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
}

.smiley {
    position: absolute;
    top: 25%;
    right: 30%;
    color: #fff;
}

.hahaa {
    position: absolute;
    top: 45%;
    left: 10%;
    color: #fff;
}

.inlove {
    position: absolute;
    top: 25%;
    left: 40%;
    color: #fff;
}

.cool {
    position: absolute;
    bottom: 15%;
    left: 50%;
    color: #fff;
}

.inspect {
    position: absolute;
    top: 30%;
    right: 20%;
    color: #fff;
}

.sleepy{
    position: absolute;
    bottom: 5%;
    left: 5%;
    color: #fff;
}

.nerdy{
    position: absolute;
    top: 10%;
    left: 90%;
    color: #fff;
}


.money{
    position: absolute;
    top: 30%;
    right: 70%;
    color: #fff;
}


.clown{
    position: absolute;
    bottom: 5%;
    left: 40%;
    color: #fff;
}


.ghost{
    position: absolute;
    bottom: 35%;
    left: 75%;
    color: #fff;
}


.alien{
    position: absolute;
    top: 35%;
    left: 55%;
    color: #fff;
}


.bot{
    position: absolute;
    bottom: 65%;
    left: 15%;
    color: #fff;
}

.flashlight {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: radial-gradient(circle at var(--x) var(--y), transparent 0%, rgba(0,0,0,0.99) 10% );
}

.cursorcover {
    display: none;
    height: 2px;
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    -webkit-transform: translate(-10px,-10px);
    -o-transform: translate(-10px,-10px);
    transform: translate(-10px,-10px);
    -webkit-transition: all 0s;
    -o-transition: all 0s;
    transition: all 0s;
    width: 2px;
    z-index: 9999;
}

.cursor1 {
    background-color: #c2b3e5;
    border-radius: 50%;
    display: block;
    height: 1.4rem;
    -webkit-transition: width .2s,height .2s,background-color .3s;
    -o-transition: width .2s,height .2s,background-color .3s;
    transition: width .2s,height .2s,background-color .3s;
    width: 1.4rem;
}

.cursor1, .cursor1:after {
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

element.style {
    transform: matrix(1, 0, 0, 1, 1616, 419);
}

.tranform_scale_up {
    animation: hover_scale_up 3s 1 ease-out;
}
.transform_scale_down {
    animation-delay: 2s;
    animation: hover_scale_down 3s 1 ease-in;
}

.spin {
    animation-delay: 2s;
    animation: spin_animation 3s 1 ease-in;
}

@keyframes fade_in {
    from {
        opacity: 0;
    }   
    to  {
        opacity: 1;  
    }
}

@keyframes hover_scale_up {
    from {
        transform: scale(1);
        opacity: 0.5;
    }
   to {
        transform: scale(2);
        opacity: 1;
    }    
}

@keyframes hover_scale_down {
    from {
        transform: scale(2);
        opacity: 1;
    }

    to {
        transform: scale(0.1);
        opacity: 0.1;
    }    
}

@keyframes spin_animation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }    
}

.missing_moji_wrapper {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
    background: radial-gradient(rgb(146, 146, 146), rgba(85, 85, 85, 0.548), rgba(107, 107, 107, 0.836), rgba(22, 22, 22, 0.644));
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
}

.missing_moji {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(238, 238, 238, 0.479);
    display: flex;
    align-items: center;
    justify-content: center;
}

.missing_moji > .clone_moji {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    font-size: 5rem;
}

p {
    position: fixed;
    top: 250px;
    left: 30px;
    font-size: 1.2rem;
    color: white;
    z-index: 1000;
    width: 100px;
}

@media screen and (max-width: 768px) {
    .missing_moji_wrapper {
        width: 100px;
        height: 100px;
    }
    
    
    .missing_moji > .clone_moji {
        font-size: 3rem;
    }

    p {
        top: 150px;
        left: 30px;
        font-size: 1rem;
    }
}


